{% extends 'mantenedor.html' %}

{% block titulo %}
Biblioteca.dev | Listado de Categorias
{% endblock titulo %}

<!-- 
    <div class="container">
        <div class="row">
            <div class="col-md-12 search">
                <form method="get">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar }}">
                            <span class="input-group-list">
                                <i class="icon icon-search"></i>
                                <button type="submit" class="boton btn-success">Buscar</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> -->

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12 search">
            <form method="get">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control" placeholder="Buscar..." name="buscar"
                            value="{{ request.GET.buscar }}">
                        <span class="input-group-list">
                            <i class="icon icon-search"></i>
                            <button type="submit" class="boton btn-success">Buscar</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% if categoria_listar %}
<div class="card">
    <div class="card-header">
        <strong class="card-title">Listado de Categorias</strong>
    </div>
    <div class="table-stats order-table ov-h">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for categoria in categoria_listar%}
                <tr>
                    <td>{{categoria.id}}</td>
                    <td>{{categoria.nombre}}</td>
                    <td>{{categoria.estado}}</td>
                    <td>
                        <a href="{% url 'blog:editar_categoria' categoria.id %}" class="btn btn-primary">Editar</a>
                        <a href="{% url 'blog:eliminar_categoria' categoria.id %}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<h1>No existe Categoria Registrada </h1>
{% endif %}
{% endblock body %}