{% extends 'mantenedor.html' %}
{% block titulo %}
Biblioteca.dev | Registro de Posts
{% endblock titulo %}

{% block body %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% if error %}
    <h2>{{ error }}</h2>
    {% else %}
    <div class="card">
        <div class="card-header">
            <strong>Formulario de Registro</strong>
        </div>
        <div class="card-body card-block">
            <form action="#" method="POST" enctype="multipart/form-data" class="form-horizontal">
                <div class="row form-group">
                    <div class="col col-md-3">{{ post_form.categoria.label }}</div>
                    <div class="col-12 col-md-9">{{ post_form.categoria }}</div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">{{ post_form.estado.label }}</div>
                    <div class="col-12 col-md-9">{{ post_form.estado }}</div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">{{ post_form.title.label }}</div>
                    <div class="col-12 col-md-9">{{ post_form.title }}</div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">{{ post_form.slug.label }}</div>
                    <div class="col-12 col-md-9">{{ post_form.slug }}</div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">{{ post_form.descripcion.label }}</div>
                    <div class="col-12 col-md-9">{{ post_form.descripcion }}</div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">{{ post_form.published_date.label }}</div>
                    <div class="col-12 col-md-9">{{ post_form.published_date }}</div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">{{ post_form.imagen.label }}</div>
                    <div class="col-12 col-md-9">{{ post_form.imagen }}</div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">{{ post_form.text.label }}</div>
                    <div class="col-12 col-md-9">{{ post_form.text }}</div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Registrar</button>
                    <button type="reset" class="btn btn-danger">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
    {% endif %}
</form>
{% endblock body %}