{% extends 'base.html' %}
{% block titulo %}
Nosotros
{% endblock titulo %}
{% block contenedor %}
<div class="container m-5 py-5 d-flex justify-content-center ">
              <div class="card text-center w-75 border border-dark rounded " >
                      <div class="card-body">
                        <h5 class="card-title display-4">Nosotros</h5>
                        <p class="card-text">
                          Healing es una empresa proveedora de órtesis y soportes que sirven para terapia funcional efectiva en pacientes adultos, niños, deportistas y adultos mayores.
                          <br>
                          <br>
                          Es nuestro compromiso continuar trabajando con pasión en el desarrollo de nuevas soluciones que permitan complementar los tratamientos fisioterapéuticos de la medicina de hoy.
                        </p>
                      </div>
              </div>
</div>
{% endblock contenedor %}